# Node modules
node_modules/

# Expo & Metro
.expo/
.expo-shared/
.metro-health-check*

# Builds
dist/
web-build/
expo-env.d.ts
android/
ios/

# Git
.git/

# Certificates / Keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Mac / Windows system files
.DS_Store

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment files
.env
.env*.local

# TypeScript build info
*.tsbuildinfo

# Editor-specific
.natively/

# Netlify files (not needed)
netlify.toml
.netlify/
